*{
    padding: 0;
    margin: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #333;
}
.card{
    width:90%;
    max-width: 450px;
    margin : 100px auto 0;
    background: linear-gradient(to bottom, #607D8B, #37474F);
    padding:40px 35px;
    text-align: center;
    border-radius: 25px;
}

.search{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* .search-btn img{
    height: 100%;
    width: 100%;
} */
.search input{
    border:0;
    outline:0;
    height:50px;
    padding:10px 20px;
    font-size: 20px;
    border-radius: 30px;
    flex:1;
    margin-right:10px;
}
.search button{
    border: 0;
    outline: 0;
    height:50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}
.search button:hover{
    /* transform: scale(1.1); */
    opacity: 60%;
}

.search button img{
    width:25px;
}


.weather{
    color: #fff;
}

.weather-icon{
    width:170px;
    margin-top: 30px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin-top: 40px;
}
.details img{
    width:55px;
    margin-right: 10px;
}

.weather h1{
    font-size: 37px;
    margin-top: -10px;
}
.weather h2{
    font-size: 50px;
}

.col{
    display: flex;
    justify-content: center;
    align-items: center;
}
.TT{
    text-align: left;
}
.wind,.humidity{
    font-size: 25px;
    margin-top: -7;
}
